
@font-face {
  font-family: 'Barlow';
  src: url('fonts/Barlow-Regular.ttf') format('truetype');
}
body {
    font-family: Barlow, sans-serif;
    background:  #eff6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
   
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    width: 900px;
    background: #FFFFFF;
    color: #2a4a5c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  

  }
  .image-container {
    flex: 1;
    background: #eef2ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    height: 100%;
    
    position: relative;
  }
  
  .bg {
    width: 100%;
    height: auto;
    max-width: 150%;
    object-fit: cover;
    display: block;
  }
  .logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: auto;
 }
  .form-container {
    flex: 1;
    padding: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 3px;
  }
  
  p {
    color: #7b8a92;
    font-size: 16px;
  }
  
  .social-buttons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
  
  .btn {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .btn-facebook {
    background-color: #255a9b;
    background-image: url('facebook.svg');
    
    margin-bottom: 20px;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 2px;
  font-size: 10px;
  color: #FFFFFF; 
  
  width: 180px;
  
  background-size: 10px;
  background-position: 10px center;
  }
  
  .btn-linkedin {
    background-color: #0076B6;
  background-image: url('linkedin.svg');
  margin-bottom: 20px;
  text-align: center;
    background-repeat: no-repeat;
    border-radius: 2px;
  font-size: 10px;
  color: #FFFFFF; 
 
  width: 180px;
  
  background-size: 10px;
  background-position: 10px center;
  }
  
  .divider {
    text-align: center;
    align-items: center;
    font-size: 12px;
    color: #7b8a92;
    margin: 0px 50px;
    position: relative;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    width: 20%;
    background: #FFFFFF;
    position: absolute;
    top: 70%;
    background-color: #7b8a92;
    margin: 0 90px;
    color: #7b8a92;
    
  }
  
  .divider::before {
    left: 0;
    
  }
  
  .divider::after {
    right: 0;
  }
  
  .input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    
  }
  .input-wrapper{
    position: relative;
    flex: 1;
  }
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 10px;
    outline: none;
    transition: border-color 0.3s;
    width: 200px;
    color: black;
  }
  .label{
    position: absolute;
    top: 20%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 10px;
    transition: all 0.3s;
    pointer-events: none;
    color: #7b8a92;
  }
  .investor-type {
    margin: 15px 0;
    
    font-size: 14px;
    
    
  }
  .investor-type1{
    color: #2a4a5c;
    font-weight: bold;
  }
  .investor-typet {
    margin: 15px 0;
   
    font-size: 12px;
    
  }
  .icon-info img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }
  .radio-group{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    color: #2a4a5c;
  }
  .radio-label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    font-size: 12px;
  }
  
  .custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #007bff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 8px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + .custom-radio::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .investor-info {
    background: #f0f4fb;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 5px;
  }
 
  .checkbox-label {
    display: inline;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
    color: #7b8a92
  } 
.checkbox {margin-bottom: 30px;
  font-size: 12px;
  color: #7b8a92;}
    
    
  
  .checkbox-label input[type="checkbox"]{
    margin: 5px;
    width: 16px;
    height: 10px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 30px;
    color: #7b8a92;
  }
  
  
  
  .btn-primary {
    width: 60%;
    background: #3698fb;
    color: white;
    padding: 12px;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background: #0056b3;
  }
  
  /* 📱 Адаптация под мобильные устройства */
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      width: 50%;
    }
  
    .image-container {
      max-width: 100%;
      margin-bottom: 20px;
    }
    .image-container img{
      max-width: 100%;
    }
  
    .form-container {
      width: 100%;
      padding: 20px;
    }
  }